<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net472" />
</packages>